html {
    background-color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup {
    border:1px solid #999999;
    font:  normal 14px helvetica;
    color: #444444;
}

td {
    font-weight: bold;
}

th {
    text-decoration: underline;
}

[type="text"]:hover {
    box-shadow: 5px 5px 5px gray;
}

[type="text"]:focus {
    background-color: pink;
}

*:focus {
    border: 2px dotted #888;
}